<section class="container text-center">
  <div class="mt-4 mb-3">
    <h2>The most flexible integration tool</h2>
    <h4>Easy to adjust for your needs!</h4>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          class="img img-responsive shadow"
          src="manual-triggers.png"
          alt="Customizable actions for manual running"
        />
      </div>

      <div class="carousel-item">
        <img
          class="img img-responsive shadow"
          src="task-code-telegram-incoming.png"
          alt="Edit code right in backend"
        />
      </div>

      <div class="carousel-item">
        <img
          class="img img-responsive shadow"
          src="task-code-telegram-outgoing.png"
          alt="Edit code right in backend"
        />
      </div>

      <div class="carousel-item">
        <img
          class="img img-responsive shadow"
          src="project-tasks.png"
          alt="Activate/disable integration parts"
        />
      </div>
      <div class="carousel-item">
        <img
          class="img img-responsive shadow"
          src="parameters.png"
          alt="Quick setup!"
        />
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="mt-4 mb-3">
    <h2>Logs are available from UI</h2>
    <h4>Easy to debug!</h4>
  </div>
  <div class="mb64">
    <img class="img img-responsive shadow" src="logs.png" />
  </div>
</section>

<section class="container">
  <div class="alert alert-info mt32" style="padding: 0.3em 0.6em; font-size: 150%">
    <i class="fa fa-hand-o-right"></i><b> Key integration tools: </b>
    <ul class="list-unstyled">
      <li>
        <i class="fa fa-check-square-o text-primary"></i>
        <b>Cron</b>: execute custom code by cron schedule
      </li>
      <li>
        <i class="fa fa-check-square-o text-primary"></i>
        <b>DB Handler</b>: execute custom code on updates in database
      </li>
      <li>
        <i class="fa fa-check-square-o text-primary"></i>
        <b>Incoming Webhook</b>: process data/event send from external system
      </li>
      <li>
        <i class="fa fa-check-square-o text-primary"></i>
        <b>Manual Triggering</b>: execute custom code manually
      </li>
    </ul>
  </div>
</section>

<section class="container">
  <div class="alert alert-success bt-32" style="font-size: 150%">
    <div>
      Sync Studio comes with few demo integration:
      <ul>
        <li><b>Trello-Github</b></li>
        <li><b>Flectra2flectra</b></li>
        <li><b>Telegram</b></li>
      </ul>
      <i
        >To try them out, install the module in demo mode. Check Documentation tab for
        usage instructions.</i
      >
    </div>
    <div>
      <p>
        Other
        <a
          href="https://apps.flectra.com/apps/modules/browse?search=sync+studio&repo_maintainer_id=59928"
          >solutions</a
        >
        are published on Flectra Apps store and more are <b>coming soon</b>!<br />To
        <b>get further information</b> and <b>request an assitance</b>, contact us by
        email: <a href="mailto:help@itpp.dev">help@itpp.dev</a>
        <i class="fa fa-envelope-o"></i>
      </p>
    </div>
  </div>
</section>

<section class="container mt32 mb64">
  <div>
    <h2>Open Source!</h2>
  </div>

  <div class="alert alert-danger" style="font-size: 150%">
    You can find our <b>GitHub repository</b> via <b>Website</b> link above. You are
    welcome to make a contribution! It could be either:
    <ul>
      <li>a new module</li>
      <li>an update to existing module</li>
      <li>
        an issue with the data xml file attached (generate one via
        <em>Action -> Export to XML</em> button in project form)
      </li>
      <li>a bug report</li>
      <li>a feature request</li>
    </ul>
    Your contribution will make other Flectra users happy
    <span class="fa fa-smile-o"></span>, while <em>IT Projects Labs</em> will assist you
    on it:
    <ul>
      <li>we will test the updates</li>
      <li>we will check bug reports</li>
      <li>we will document the modules</li>
      <li>we will port modules to the new Flectra versions</li>
    </ul>
    <p>Sincerely,<br />Ivan Yelizariev</p>
  </div>
</section>
