
<section class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-8 mb64 mt64">
            <div class="">
                <h2 class="display-3">Sync Studio</h2>
                <h4 class="text-default">Synchronize anything with anything</h4>
                <p class="text-default mt16">Version: v<b>14.0</b>.5.1.1</p>
            </div>
        </div>
        <div class="col-md-3 text-right">
            <p>
                <img src="https://itpp.dev/images/favicon.png"/>
                <br/>Tested and maintained by
                <br/><b>IT Projects Labs</b>
                <br/>Assitance: <a href="mailto:help@itpp.dev">help@itpp.dev</a>
            </p>
        </div>
    </div>
</section>


<section class="container text-center">
  <div class="mt-4 mb-3">
    <h2>The most flexible integration tool</h2>
    <h4>Easy to adjust for your needs!</h4>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          class="img img-responsive shadow"
          src="manual-triggers.png"
          alt="Customizable actions for manual running"
        />
      </div>

      <div class="carousel-item">
        <img
          class="img img-responsive shadow"
          src="task-code-telegram-incoming.png"
          alt="Edit code right in backend"
        />
      </div>

      <div class="carousel-item">
        <img
          class="img img-responsive shadow"
          src="task-code-telegram-outgoing.png"
          alt="Edit code right in backend"
        />
      </div>

      <div class="carousel-item">
        <img
          class="img img-responsive shadow"
          src="project-tasks.png"
          alt="Activate/disable integration parts"
        />
      </div>
      <div class="carousel-item">
        <img
          class="img img-responsive shadow"
          src="parameters.png"
          alt="Quick setup!"
        />
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="mt-4 mb-3">
    <h2>Logs are available from UI</h2>
    <h4>Easy to debug!</h4>
  </div>
  <div class="mb64">
    <img class="img img-responsive shadow" src="logs.png" />
  </div>
</section>

<section class="container">
  <div class="alert alert-info mt32" style="padding: 0.3em 0.6em; font-size: 150%">
    <i class="fa fa-hand-o-right"></i><b> Key integration tools: </b>
    <ul class="list-unstyled">
      <li>
        <i class="fa fa-check-square-o text-primary"></i>
        <b>Cron</b>: execute custom code by cron schedule
      </li>
      <li>
        <i class="fa fa-check-square-o text-primary"></i>
        <b>DB Handler</b>: execute custom code on updates in database
      </li>
      <li>
        <i class="fa fa-check-square-o text-primary"></i>
        <b>Incoming Webhook</b>: process data/event send from external system
      </li>
      <li>
        <i class="fa fa-check-square-o text-primary"></i>
        <b>Manual Triggering</b>: execute custom code manually
      </li>
    </ul>
  </div>
</section>

<section class="container">
  <div class="alert alert-success bt-32" style="font-size: 150%">
    <div>
      Sync Studio comes with few demo integration:
      <ul>
        <li><b>Trello-Github</b></li>
        <li><b>Flectra2flectra</b></li>
        <li><b>Telegram</b></li>
      </ul>
      <i
        >To try them out, install the module in demo mode. Check Documentation tab for
        usage instructions.</i
      >
    </div>
    <div>
      <p>
        Other
        <a
          href="https://apps.flectra.com/apps/modules/browse?search=sync+studio&repo_maintainer_id=59928"
          >solutions</a
        >
        are published on Flectra Apps store and more are <b>coming soon</b>!<br />To
        <b>get further information</b> and <b>request an assitance</b>, contact us by
        email: <a href="mailto:help@itpp.dev">help@itpp.dev</a>
        <i class="fa fa-envelope-o"></i>
      </p>
    </div>
  </div>
</section>

<section class="container mt32 mb64">
  <div>
    <h2>Open Source!</h2>
  </div>

  <div class="alert alert-danger" style="font-size: 150%">
    You can find our <b>GitHub repository</b> via <b>Website</b> link above. You are
    welcome to make a contribution! It could be either:
    <ul>
      <li>a new module</li>
      <li>an update to existing module</li>
      <li>
        an issue with the data xml file attached (generate one via
        <em>Action -> Export to XML</em> button in project form)
      </li>
      <li>a bug report</li>
      <li>a feature request</li>
    </ul>
    Your contribution will make other Flectra users happy
    <span class="fa fa-smile-o"></span>, while <em>IT Projects Labs</em> will assist you
    on it:
    <ul>
      <li>we will test the updates</li>
      <li>we will check bug reports</li>
      <li>we will document the modules</li>
      <li>we will port modules to the new Flectra versions</li>
    </ul>
    <p>Sincerely,<br />Ivan Yelizariev</p>
  </div>
</section>



<section class="container text-center">
    <div class="mt-4 mb-3">
        <h2>Let our expertise work for you!</h2>
        <h4 class="d-none d-md-block">(Doors and windows below are clickable)</h4>
        <div class="mb32 d-md-none">
            <ul class="list-unstyled">
                <li><a target="_blank" href="https://apps.flectra.com/apps/browse?repo_maintainer_id=59928">All modules</a></li>
                <li><a target="_blank" href="https://apps.flectra.com/apps/browse?price=Free&order=Downloads&repo_maintainer_id=59928">Free Modules</a></li>
                <li><a target="_blank" href="https://apps.flectra.com/apps/modules/category/Point%20of%20Sale/browse?repo_maintainer_id=59928">All POS modules</a></li>
                <li><a target="_blank" href="https://apps.flectra.com/apps/modules/category/Discuss/browse?repo_maintainer_id=59928">All Mail modules</a></li>
                <li><a target="_blank" href="https://apps.flectra.com/apps/modules/category/Website/browse?repo_maintainer_id=59928">All Website modules</a></li>
                <li><a target="_blank" href="https://apps.flectra.com/apps/modules/category/eCommerce/browse?repo_maintainer_id=59928">All eCommerce modules</a></li>
                <li><a target="_blank" href="https://apps.flectra.com/apps/modules/browse?search=sync+studio&repo_maintainer_id=59928">Sync Studio</a></li>
                <li><a target="_blank" href="https://apps.flectra.com/apps/modules/14.0/openapi/">REST API</a></li>
                <li><a target="_blank" href="https://apps.flectra.com/apps/modules/14.0/base_automation_webhook/">Webhooks</a></li>
                <li><a target="_blank" href="https://apps.flectra.com/apps/modules/14.0/pos_product_available/">POS: show product qty</a></li>
                <li><a target="_blank" href="https://apps.flectra.com/apps/modules/14.0/web_login_background/">Web Login Background</a></li>
            </ul>
        </div>
        <div class="mb64 d-none d-xl-block">
            <img class="img img-responsive" src="https://itpp.dev/images/apps/;-)/itpp-labs-1100.jpg" usemap="#itpp-xl" />
            <map name="itpp-xl">
                <area alt="Free Modules" target="_blank" href="https://apps.flectra.com/apps/browse?price=Free&order=Downloads&repo_maintainer_id=59928" shape="rect" class="" coords="900,220,1080,625" />
                <area alt="Sync Studio" target="_blank" href="https://apps.flectra.com/apps/modules/browse?search=sync+studio&repo_maintainer_id=59928" shape="rect" class="" coords="552,186,721,274" />
                <area alt="REST API" target="_blank" href="https://apps.flectra.com/apps/modules/14.0/openapi/" shape="rect" class="" coords="646,279,720,365" />
                <area alt="Webhooks" target="_blank" href="https://apps.flectra.com/apps/modules/14.0/base_automation_webhook/" shape="rect" class="" coords="646,370,720,458" />
                <area alt="POS: show product qty" target="_blank" href="https://apps.flectra.com/apps/modules/14.0/pos_product_available/" shape="rect" class="" coords="82,373,251,459" />
                <area alt="All modules" target="_blank" href="https://apps.flectra.com/apps/browse?repo_maintainer_id=59928" shape="rect" class="" coords="326,267,381,456" />
                <area alt="All POS modules" target="_blank" href="https://apps.flectra.com/apps/modules/category/Point%20of%20Sale/browse?repo_maintainer_id=59928" shape="rect" class="" coords="82,191,154,276" />
                <area alt="All Mail modules" target="_blank" href="https://apps.flectra.com/apps/modules/category/Discuss/browse?repo_maintainer_id=59928" shape="rect" class="" coords="82,282,155,368" />
                <area alt="All Website modules" target="_blank" href="https://apps.flectra.com/apps/modules/category/Website/browse?repo_maintainer_id=59928" shape="rect" class="" coords="176,282,250,368" />
                <area alt="All eCommerce modules" target="_blank" href="https://apps.flectra.com/apps/modules/category/eCommerce/browse?repo_maintainer_id=59928" shape="rect" class="" coords="175,189,250,275" />
                <area alt="Ivan Yelizariev" target="_blank" href="https://apps.flectra.com/apps/modules/browse?search=Ivan+Yelizariev&repo_maintainer_id=59928" shape="rect" class="" coords="554,280,625,456" />
                <area alt="Web Login Background" target="_blank" href="https://apps.flectra.com/apps/modules/14.0/web_login_background/" shape="rect" class="" coords="420,267,477,456" />
            </map>
        </div>
        <div class="mb64 d-none d-lg-block d-xl-none">
            <img class="img img-responsive" src="https://itpp.dev/images/apps/;-)/itpp-labs-930.jpg" usemap="#itpp-lg" />
            <map name="itpp-lg">
                <area alt="Free Modules" target="_blank" href="https://apps.flectra.com/apps/browse?price=Free&order=Downloads&repo_maintainer_id=59928" shape="rect" class="" coords="760,186,913,528" />
                <area alt="Sync Studio" target="_blank" href="https://apps.flectra.com/apps/modules/browse?search=sync+studio&repo_maintainer_id=59928" shape="rect" class="" coords="466,157,609,231" />
                <area alt="REST API" target="_blank" href="https://apps.flectra.com/apps/modules/14.0/openapi/" shape="rect" class="" coords="546,235,608,308" />
                <area alt="Webhooks" target="_blank" href="https://apps.flectra.com/apps/modules/14.0/base_automation_webhook/" shape="rect" class="" coords="546,312,608,387" />
                <area alt="POS: show product qty" target="_blank" href="https://apps.flectra.com/apps/modules/14.0/pos_product_available/" shape="rect" class="" coords="69,315,212,388" />
                <area alt="All modules" target="_blank" href="https://apps.flectra.com/apps/browse?repo_maintainer_id=59928" shape="rect" class="" coords="275,225,322,385" />
                <area alt="All POS modules" target="_blank" href="https://apps.flectra.com/apps/modules/category/Point%20of%20Sale/browse?repo_maintainer_id=59928" shape="rect" class="" coords="69,161,130,233" />
                <area alt="All Mail modules" target="_blank" href="https://apps.flectra.com/apps/modules/category/Discuss/browse?repo_maintainer_id=59928" shape="rect" class="" coords="69,238,131,311" />
                <area alt="All Website modules" target="_blank" href="https://apps.flectra.com/apps/modules/category/Website/browse?repo_maintainer_id=59928" shape="rect" class="" coords="148,238,211,311" />
                <area alt="All eCommerce modules" target="_blank" href="https://apps.flectra.com/apps/modules/category/eCommerce/browse?repo_maintainer_id=59928" shape="rect" class="" coords="147,159,211,232" />
                <area alt="Ivan Yelizariev" target="_blank" href="https://apps.flectra.com/apps/modules/browse?search=Ivan+Yelizariev&repo_maintainer_id=59928" shape="rect" class="" coords="468,236,528,385" />
                <area alt="Web Login Background" target="_blank" href="https://apps.flectra.com/apps/modules/14.0/web_login_background/" shape="rect" class="" coords="355,225,403,385" />
            </map>
        </div>
        <div class="mb64 d-lg-none">
            <img class="img img-responsive" src="https://itpp.dev/images/apps/;-)/itpp-labs-690.jpg" usemap="#itpp-md" />
            <map name="itpp-md">
                <area alt="Free Modules" target="_blank" href="https://apps.flectra.com/apps/browse?price=Free&order=Downloads&repo_maintainer_id=59928" shape="rect" class="" coords="564,138,677,392" />
                <area alt="Sync Studio" target="_blank" href="https://apps.flectra.com/apps/modules/browse?search=sync+studio&repo_maintainer_id=59928" shape="rect" class="" coords="346,116,452,171" />
                <area alt="REST API" target="_blank" href="https://apps.flectra.com/apps/modules/14.0/openapi/" shape="rect" class="" coords="405,175,451,228" />
                <area alt="Webhooks" target="_blank" href="https://apps.flectra.com/apps/modules/14.0/base_automation_webhook/" shape="rect" class="" coords="405,232,451,287" />
                <area alt="POS: show product qty" target="_blank" href="https://apps.flectra.com/apps/modules/14.0/pos_product_available/" shape="rect" class="" coords="51,233,157,287" />
                <area alt="All modules" target="_blank" href="https://apps.flectra.com/apps/browse?repo_maintainer_id=59928" shape="rect" class="" coords="204,167,238,286" />
                <area alt="All POS modules" target="_blank" href="https://apps.flectra.com/apps/modules/category/Point%20of%20Sale/browse?repo_maintainer_id=59928" shape="rect" class="" coords="51,119,96,173" />
                <area alt="All Mail modules" target="_blank" href="https://apps.flectra.com/apps/modules/category/Discuss/browse?repo_maintainer_id=59928" shape="rect" class="" coords="51,176,97,230" />
                <area alt="All Website modules" target="_blank" href="https://apps.flectra.com/apps/modules/category/Website/browse?repo_maintainer_id=59928" shape="rect" class="" coords="110,176,156,230" />
                <area alt="All eCommerce modules" target="_blank" href="https://apps.flectra.com/apps/modules/category/eCommerce/browse?repo_maintainer_id=59928" shape="rect" class="" coords="109,118,156,172" />
                <area alt="Ivan Yelizariev" target="_blank" href="https://apps.flectra.com/apps/modules/browse?search=Ivan+Yelizariev&repo_maintainer_id=59928" shape="rect" class="" coords="347,175,392,286" />
                <area alt="Web Login Background" target="_blank" href="https://apps.flectra.com/apps/modules/14.0/web_login_background/" shape="rect" class="" coords="263,167,299,286" />
            </map>
        </div>
    </div>
</section>

